html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Cabin", sans-serif;
}

.content{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto;
  margin: 0 auto;
  grid-template-areas:
    'profile profile profile'
    'form form form'
    'addrecord addrecord addrecord'
    'records records records'
    'footer footer footer';
}
/* --- Header --- */
.header {
  grid-area: header;
  overflow: hidden;
  border-bottom: 1px solid #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  width: 90px;
  height: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a {
  text-decoration: none;
  color: #000000;
  padding: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease-out 0s;
}

.nav_links li a:hover {
  color: #ffffff;
  background: #000000;
}

.login{
  text-decoration: none;
  color: #000000;
  padding: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease-out 0s;
}

.login:hover{
  color: #ffffff;
  background: #000000;
}


/* --- Profile --- */
.profile{
  grid-area: profile;
  justify-self: center;
  display: flex;
  min-width: 1060px;
  border-bottom: 1px solid #000000;
}

.avatar img{
  width: 320px;
  height: 320px;
  margin-left: 160px;
  margin-bottom: 60px;
}

.details{
  margin-left: 32px;
}

.fio{
  position: relative;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 32px;
}

.role{
  position: relative;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 32px;
}

.count{
  position: relative;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 32px;
}

.add{
  background: #000000;
  cursor: pointer;
  outline: none;
  border: #000000 1px solid;
  color: #fff;
  margin-left: 4px;
  height: 50px
}

/* --- Form --- */

.form{
  margin: 4% 23.5% 2% 23.5%;
  min-width: 1060px;
  grid-area: form;
  justify-self: center;
  border: #222222 solid 1px;
  background: black;
  color: #ffffff;
}

.form h2{
  text-align: center;
  margin-bottom: 22px;
}

.fields{
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: auto;
  margin: 2%;
  grid-template-areas:
    'label formbox'
}

.labelbox{
  margin-bottom: 5%;
}

.regbox{
  margin-bottom: 3%;
  min-height: 30px;
}

.confirm{
  min-height: 30px;
  background: #ffffff;
  color: black;
  border: none;
}

/* --- Add Record --- */
.addrecord{
  margin: 4% 23.5% 5% 23.5%;
  min-width: 1060px;
  grid-area: addrecord;
  justify-self: center;
  border: #222222 solid 1px;
  background: black;
  color: white;
}

.addrecord h2{
  text-align: center;
  margin-bottom: 22px;
}

.fields{
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: auto;
  margin: 2%;
  grid-template-areas:
    'label formbox'
}

.labelbox{
  margin-bottom: 5%;
}

.regbox{
  margin-bottom: 3%;
  min-height: 30px;
}

.confirm{
  min-height: 30px;
  background: #ffffff;
  color: black;
  border: none;
}

/* --- Reocrds --- */
.records{
  /*margin: 4% 43% 0% 43%;*/
  grid-area: records;
  justify-self: center;
}

.records h1{
  text-align: center;
  margin-bottom: 22px;
}

.record {
  justify-self: center;
  height: 460px;
  width: 1100px;
  /*border: black 1px solid;*/
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 2% 0% 2%;
}

.info{
  position: relative;
  padding: 20px;
  max-width: 560px;
}

#title {
  font-size: 28px;
  font-weight: bold;
}

#img {
  background: url("../img/record.png") 50% 50% no-repeat;
  width: 460px;
  height: 460px;
}

#desc{
  margin-top: 20px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

#hidden{
  visibility: hidden;
}

#localisation{
  position:absolute;
  bottom: 20px;
  right: 20px;

  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

#employee{
  position:absolute;
  bottom: 20px;
  left: 20px;

  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

.allrecords{
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  border: black 1px solid;
  margin: 4% 43% 0% 43%;
  padding: 1% 1%;
}

/* ---- Image slider ---- */
.container{
  /*padding: 2rem;*/
}

.slide-wrapper{
  position: relative;
  max-width: 460px;
  max-height: 460px;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 1/1;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img{
  flex: 1 0 100%;
  height: 460px;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
}

.footer {
  grid-area: footer;
  margin: 2% 15% 1% 15%;
  text-align: center;
  border-top: 1px solid #000000;
  padding-top: 1%;
}
